@(implicit request: RequestHeader)
<html>
<body>
<p>Hello,</p>

<p>We received a request to reset a password in our system.  The attempt has failed because we do not have
    a registered account with this email address. It could be that you logged in using an external account such as Twitter
    or Facebook.</p>

<p>
    If you never created an account with us ignore this email, otherwise if you think you have an account with us contact
    tech support for further assistance.
</p>
</body>
</html>