@(user: service.DemoUser, env: securesocial.core.RuntimeEnvironment[service.DemoUser])
@import securesocial.core.IdentityProvider
@import securesocial.core.AuthenticationMethod._
@import Http.Context.Implicit

@main("SecureSocial - Sample Protected Page") {
<div class="page-header">
    <h2><img src="@user.main.avatarUrl" alt="@user.main.fullName" width="40px" height="40px"/> Welcome @user.main.firstName</h2>
</div>

<div class="clearfix">
    <h2>User Details</h2>

    <ul>
        <li>User Id: @user.main.userId</li>
        <li>Logged in from: @user.main.providerId</li>
        <li>Fist name: @user.main.firstName</li>
        <li>Last name: @user.main.lastName</li>
        <li>Full name: @user.main.fullName</li>
        <li>Email: @user.main.email.map { email => @email }.getOrElse("Not Available")</li>
        <li>Authentication method: @user.main.authMethod</li>
    </ul>

    @user.main.oAuth1Info.map { info =>
    <h2>OAuth1 Info</h2>

    <ul>
        <li>Token: @info.token</li>
        <li>Secret: @info.secret</li>
    </ul>
    }

    @user.main.oAuth2Info.map { info =>
    <h2>OAuth2 Info</h2>

    <ul>
        <li>Access Token: @info.accessToken</li>
        @info.tokenType.map { t => <li>Token Type: @t</li> }
        @info.expiresIn.map { exp => <li>Expires in: @exp seconds</li>}
        @info.refreshToken.map { rt => <li>Refresh Token: @rt</li>}
    </ul>
    }
    <hr>
    @user.main.passwordInfo.map { info =>
	<a class="btn" href="@securesocial.controllers.routes.PasswordChange.page.absoluteURL(Implicit.request(), IdentityProvider.sslEnabled)">Change Password</a>
    }

     <span>Link this account to

    @env.providers.values.map { provider =>
        @if( provider.authMethod == OAuth1 || provider.authMethod == OAuth2 ) {
            @defining( "images/providers/%s.png".format(provider.id) ) { imageUrl =>
            <a href="@env.routes.authenticationUrl(provider.id, Some("/link-result"))"> <img src="@securesocial.controllers.routes.Assets.at(imageUrl)"/></a>
         }
        }
    }
    </span>

    <hr>
    <a class="btn" href="@securesocial.controllers.routes.LoginPage.logout()">Logout</a>
</div>
}
