@**
 * Generate an HTML input password.
 *
 * Example:
 * {{{
 * @inputPassword(field = myForm("password"), args = 'size -> 10)
 * }}}
 *
 * @param field The form field.
 * @param args Set of extra attributes.
 * @param handler The field constructor.
 *@
@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: views.html.helper.FieldConstructor, lang: play.api.i18n.Lang)

@import helper._

@input(field, args:_*) { (id, name, value, htmlArgs) =>
  <input type="password" id="@id" name="@name" @toHtmlArgs(htmlArgs)>
  <span id="zxcvbnResult" class="text-right" style="height:20px"></span>
  <p>
    <span>@Messages("securesocial.signup.passwordAdvice")</span>
  </p>
}
