@(resetForm:Form[(String, String)], token: String)(implicit request: RequestHeader)
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@securesocial.views.html.main( Messages("securesocial.password.title") ) {
    <div class="page-header">
        <h1>@Messages("securesocial.password.title")</h1>
    </div>

    @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @Messages(msg)
        </div>
    }

    <form action="@securesocial.core.providers.utils.RoutesHelper.handleResetPassword(token).absoluteURL(IdentityProvider.sslEnabled)"
          class="form-horizontal"
          autocomplete="off"
          method="POST"
    >
        <fieldset>
            @helper.inputPassword(
            resetForm("password.password1"),
            '_label -> Messages("securesocial.signup.password1"),
            'class -> "input-xlarge"
            )

            @helper.inputPassword(
            resetForm("password.password2"),
            '_label -> Messages("securesocial.signup.password2"),
            'class -> "input-xlarge"
            )

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">@Messages("securesocial.password.reset")</button>
            </div>

        </fieldset>
    </form>
}


