# General temp files
.DS_Store
*.ser
*.pyc

# Files related to Play build or usage
target
logs

# IDE and editors
*~
.idea
nbproject
eclipse
.amateras
.settings
.classpath
.project
*.iml
*.ipr
*.iws

# Build output
module-code/dist/

# Usually a softlink to module-code
samples/scala/demo/modules/securesocial

