 html,
      body {
        height: 100%;
        padding-top: 30px;
        padding-bottom: 40px;
      }
 
      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }
 
      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {        
        border-top: 1px solid #E5E5E5;
        background-color: whiteSmoke; 
        height: 150px; 
        padding-top: 25px;        
      }
 
      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }