<div class="sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Contents</li>
    <% data.guide.sections.each do | section | %>    
    	<li <%= "class='active'" if data.page.file == section.file %> >
    		<a href="<%= section.file %>.html"><%= section.title %></a> 
    	</li>
   	<% end %>
    </ul>
</div>     