---
file: index
title: SecureSocial - Authentication for Play Framework Applications
---
 <!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit" style="background: #53a99e;color:white;">
	<h1>SecureSocial</h1>
    <p>An authentication module for Play Framework applications supporting OAuth, OAuth2, OpenID, Username/Password and 
    	custom authentication schemes.
    </p>
    <p><a class="btn btn-inverse btn-large" style="background:#545454" href="/guide/overview.html">Learn more &raquo;</a></p>
</div>

<div class="row">
	<div class="span4 offset4">
    
    	<iframe src="http://ghbtns.com/github-btn.html?user=jaliss&repo=securesocial&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="152px" height="30px"></iframe>

    	<iframe src="http://ghbtns.com/github-btn.html?user=jaliss&repo=securesocial&type=fork&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="152px" height="30px"></iframe>
	

</div>
</div>

<div class="row">
	<div class="span4">
		<h2>Java and Scala APIs</h2>
		<p>SecureSocial provides Java and Scala APIs so you can use your preferred language.</p>          
    </div>
		
    <div class="span4">
		<h2>Authentication services</h2>
		<p>Out of the box support for leading services such as Twitter, Facebook, Google, LinkedIn and GitHub. It also provides a Username/Password mechanism with signup, login and reset password functionality.</p>          
	</div>

	<div class="span4">
		<h2>Extensible</h2>
		<p>Based on a modular architecture that allows you to add new authentication services.</p>          
    </div>
</div>
      
<div class="row">
	<div class="span4">
		<h2>Customizable UI</h2>
		<p>It's easy to customize the provided UI to match the look and feel of your applications.</p>          
    </div>

	<div class="span4">
		<h2>Easy to integrate</h2>
		<p>A simple API that allows for easy and fast integration into your apps</p>          
    </div>

    <div class="span4">
		<h2>Play 2 and 1</h2>
		<p>Supports Play versions 2.0.x and 1.x.</p>          
    </div>
</div>