---
file: sponsors
title: SecureSocial - Sponsors
---
<div class="row">
	<div class="span10">
		<h2>Sponsors - Thank you!</h2>        
    </div>
</div>

<hr>
<div class="row">
    <div class="span2" >
        
        <a href="http://www.cloudphysics.com" target="_blank">
            <img src="images/cloudphysics.png"/>
        </a>
        </div>
   
    <div class="span6">
        CloudPhysics is operations management powered by Collective Intelligence. We continuously learn from    thousands of datacenters so you can better manage yours. Troubleshoot, plan, report and optimize with the best.        
    </div>
</div>

<hr>

<div class="row">
    <div class="span2" >
        
        <a href="http://www.corespring.org" target="_blank">
            <img src="images/corespring.png"/>
        </a>
        </div>
   
    <div class="span6">
        CoreSpring is devoted to providing great technology and content that improves teaching and learning for educators, students, and parents.
    </div>
</div>

