#{extends 'securesocial/SecureSocial/main.html'/}
#{set title: messages.get('securesocial.changeTitle') /}

<div class="span12 columns">
    <div class="page-header">
        <h1>&{'securesocial.changeTitle'}</h1>
    </div>

#{if flash.error}
    <div class="alert-message block-message error">
        <div class="alert-actions">
        ${flash.error}
        </div>
    </div>
#{/if}

    <div class="clearfix">
        <p>&{'securesocial.changeLabel'}</p>
    #{form @securesocial.PasswordChangeController.doChange(), autocomplete:'off'}
        <fieldset>
            <div class="clearfix #{ifError 'currentPassword'} error #{/ifError}">
                <label for="currentPassword">&{'securesocial.currentPassword'}</label>

                <div class="input">
                    <input id="currentPassword" class="large" name="currentPassword" type="password"/>
                    #{ifError 'currentPassword'}
                        <span class="help-inline">&{'securesocial.required'}</span>
                    #{/ifError}
                </div>
            </div>

            <div class="clearfix #{ifError 'newPassword'} error #{/ifError}">
                <label for="newPassword">&{'securesocial.newPassword'}</label>

                <div class="input">
                    <input id="newPassword" class="large" name="newPassword" type="password"
                           value="${flash.newPassword}"/>
                    #{ifError 'newPassword'}
                        <span class="help-inline">#{error 'newPassword'/}</span>
                    #{/ifError}
                </div>
            </div>

            <div class="clearfix #{ifError 'confirmPassword'} error #{/ifError}">
                <label for="confirmPassword">&{'securesocial.confirmPassword'}</label>

                <div class="input">
                    <input id="confirmPassword" class="large" name="confirmPassword" type="password"
                           value="${flash.confirmPassword}"/>
                    #{ifError 'confirmPassword'}
                        <span class="help-inline">#{error 'confirmPassword'/}</span>
                    #{/ifError}
                </div>
            </div>

            <div class="actions">
                <input type="submit" value="Submit" class="btn primary">
                <a href="@{securesocial.SecureSocial.login()}" class="btn">&{'securesocial.cancel'}</input></a>
            </div>
        </fieldset>
    #{/form}
    </div>
</div>
