#{extends 'securesocial/SecureSocial/main.html'/}
#{set title: messages.get('securesocial.resetTitle') /}

<div class="span8">
    <div class="page-header">
        <h1>&{'securesocial.resetTitle'}</h1>
    </div>

#{if flash.error}
    <div class="alert alert-error alert-block">
        ${flash.error}
    </div>
#{/if}

    <div class="row">
        <p>&{'securesocial.changeLabel'}</p>
    #{form @securesocial.PasswordResetController.doChange(), autocomplete:'off', class: 'form-horizontal'}
        <fieldset>
            #{authenticityToken /}

            <input type="hidden" name="username" value="${username}" />
            <input type="hidden" name="uuid" value="${uuid}" />

            #{securesocial_password_entry /}

            <div class="form-actions">
                <input type="submit" value="Submit" class="btn btn-primary">
                <a href="@{securesocial.SecureSocial.login()}" class="btn">&{'securesocial.cancel'}</input></a>
            </div>
        </fieldset>
    #{/form}
    </div>
</div>
