#{extends 'securesocial/SecureSocial/main.html'/}
#{set title: messages.get('securesocial.resetTitle') /}

<div class="span8">
    <div class="page-header">
        <h1>&{'securesocial.resetTitle'}</h1>
    </div>

#{if flash.error}
    <div class="alert alert-error alert-block">
        ${flash.error}
    </div>
#{/if}

    <div class="row">
        <p>&{'securesocial.resetLabel'}</p>
    #{form @securesocial.PasswordResetController.sendEmail(), autocomplete:'off', class: 'form-horizontal'}
        <fieldset>
            #{authenticityToken /}

            <div class="control-group #{ifError 'email'} error #{/ifError}">
                <label class="control-label" for="email">&{'securesocial.email'}</label>

                <div class="controls">
                    <input id="email" class="input-large" name="email" type="text"/>
                    #{ifError 'email'}
                        <span class="help-inline">&{'securesocial.required'}</span>
                    #{/ifError}
                </div>
            </div>

            <div class="form-actions">
                <input type="submit" value="Submit" class="btn btn-primary">
                <a href="@{securesocial.SecureSocial.login()}" class="btn">&{'securesocial.cancel'}</input></a>
            </div>
        </fieldset>
    #{/form}
    </div>
</div>
