#{extends 'securesocial/SecureSocial/main.html'/}
#{set title: messages.get('securesocial.signUpTitle') /}

<div class="span8">
    <div class="page-header">
        <h1>&{'securesocial.signUpTitle'}</h1>
    </div>

    #{if flash.error}
    <div class="alert alert-error alert-block">
        ${flash.error}
    </div>
    #{/if}

    <div class="row" >
        <p>&{'securesocial.signUpLabel'}</p>
        #{form @securesocial.UsernamePasswordController.createAccount(), autocomplete:'off', class: 'form-horizontal'}
            <fieldset>
                <div class="control-group #{ifError 'userName'} error #{/ifError}">
                    <label class="control-label" for="userName">&{'securesocial.userName'}</label>
                    <div class="controls">
                        <input id="userName" class="input-large" name="userName" value="${flash.userName}" type="text"/>
                        #{ifError 'userName'}
                        <span class="help-inline">#{error 'userName'/}</span>
                        #{/ifError}
                    </div>
                </div>

                <div class="control-group #{ifError 'displayName'} error #{/ifError}">
                    <label class="control-label" for="displayName">&{'securesocial.name'}</label>
                    <div class="controls">
                        <input id="displayName" class="input-large" name="displayName" value="${flash.displayName}" type="text"/>
                        #{ifError 'displayName'}
                        <span class="help-inline">&{'securesocial.required'}</span>
                        #{/ifError}
                    </div>
                </div>

                <div class="control-group #{ifError 'email'} error #{/ifError}">
                    <label class="control-label" for="email">&{'securesocial.email'}</label>
                    <div class="controls">
                        <input id="email" class="input-large" name="email" value="${flash.email}" type="text"/>
                        <span class="help-inline">
                            #{ifError 'email'}
                            #{error 'email'/}
                            #{/ifError}
                            #{else}
                            &{'securesocial.emailHelp'}
                            #{/else}
                        </span>
                    </div>
                </div>

                <div class="control-group #{ifError 'password'} error #{/ifError}">
                    <label class="control-label" for="password">&{'securesocial.password'}</label>
                    <div class="controls">
                        <input id="password" class="input-large" name="password" type="password"/>
                        #{ifError 'password'}
                        <span class="help-inline">&{'securesocial.required'}</span>
                        #{/ifError}
                    </div>
                </div>

                 <div class="control-group #{ifError 'password2'} error #{/ifError}">
                    <label class="control-label" for="password2">&{'securesocial.password2'}</label>
                    <div class="controls">
                        <input id="password2" class="input-large" name="password2" type="password"/>
                        #{ifError 'password2'}
                        <span class="help-inline">#{error 'password2'/}</span>
                        #{/ifError}
                    </div>
                </div>

                <div class="form-actions">
                    <input type="submit" value="Create Account" class="btn btn-primary">
                    <a href="@{securesocial.SecureSocial.login()}" class="btn">&{'securesocial.cancel'}</input></a>
                </div>
            </fieldset>
        #{/form}
    </div>
</div>