@(providers: Iterable[securesocial.core.IdentityProvider])(implicit flash: play.api.mvc.Flash)

@main(Messages("securesocial.login.title")) {
    <div class="page-header">
        <h1>Login</h1>
    </div>

    @flash.get("error").map { msg =>
        <div class="alert alert-error">
            @Messages(msg)
        </div>
    }

    <div class="clearfix">
        <p>@Messages("securesocial.login.instructions")</p>

        <p>
            @for(p <- providers) {
                @defining( "/images/providers/" + p.providerId + ".png") { imageUrl =>
                    <a href="@p.authenticationUrl"> <img src="@routes.Assets.at(imageUrl)"/></a>
                }
            }
        </p>
    </div>
}