@(title: String)(content: Html)(implicit lang: Lang)

@import securesocial.core.providers.utils.RoutesHelper
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@RoutesHelper.bootstrapCssPath">
        <link rel="shortcut icon" type="image/png" href="@RoutesHelper.faviconPath">
        <link rel="stylesheet" media="screen" href="@RoutesHelper.customCssPath.getOrElse("")">
        <script src="@RoutesHelper.jqueryPath" type="text/javascript"></script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <span class="brand" >@Messages("securesocial.appName")</span>
                </div>
            </div>
        </div>

        <div class="container" style="padding-top:30px">
            @content
        </div>
    </body>
</html>
