@(title: String)(content: Html)(implicit lang: Lang, env: securesocial.core.RuntimeEnvironment[_])

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@securesocial.controllers.routes.Assets.at("bootstrap/css/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@env.routes.faviconPath">
        @env.routes.customCssPath.map { customPath =>
            <link rel="stylesheet" media="screen" href="@customPath">
        }

        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <script src="@env.routes.jqueryPath" type="text/javascript"></script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <span class="brand" >@Messages("securesocial.appName")</span>
                </div>
            </div>
        </div>

        <div class="container" style="padding-top:30px">
            @content
        </div>
    </body>
</html>
